{% extends 'base.html' %}

{% block title %}
Clients List
{% endblock title %}

{% block content %}
<hr class="mt-3 mb-3"/>
<p style='text-align:center; font-weight: bold'>
    Clients </p>
<hr class="mt-3 mb-3"/>


<div class="container">

    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
        Add Client
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form style="display: flex; flex-direction: column" id="clients_form"
                          action="{% url 'create_client' %}" method="POST">
                        {% csrf_token %}

                        {{ form }}<br>

                        <input type="submit" class="btn btn-primary" value="Create">
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <hr class="mt-3 mb-3"/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Identification</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients_list %}
        <tr>
            <td>{{ client.id }}</td>
            <td>{{ client.first_name }}</td>
            <td>{{ client.last_name }}</td>
            <td>{{ client.identification }}</td>
            <td>
                <ul style="display: flex; list-style: none ">

                    <li style="margin-right: 4%">
                        <a href="#">
                            <button type="button" class="btn btn-info"><img src="https://i.imgur.com/bwSutQk.png">
                            </button>
                        </a>
                    </li>

                    <li>
                        <form style="display: flex; flex-direction: column" id="delete_form"
                              action="{% url 'delete_client' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" name="delete_button" class="btn btn-danger" value="{{ client.id }}">
                                <img src="https://i.imgur.com/8lphSfP.png"></button>
                        </form>
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}